* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {
    --primary-color: #212529;
    --primary-color-hover: #343a40;
    --secondary-color: #f8f9fa;
    --sidebar-background: #dee2e6;
  }