@import url('globalstyles.css');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-vector/realistic-galaxy-background_23-2150884647.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: var(--primary-color-hover);
  }
  .error {
    color: red;
  }
  
  .password-container {
    position: relative;
  }
  
  /* Style for the password input field */
  #password {
    padding-right: 30px; /* Adjust this value as needed */
  }
  
  /* Style for the password toggle icon */
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust this value as needed */
    transform: translateY(-50%);
    cursor: pointer;
  }
  